<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Provita</title>
<%= stylesheet_link_tag 'provita' %>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("language", "1");
google.load("jquery","1.4.2");

function initialize() {
	var text = document.getElementById("text").innerHTML;
	google.language.detect(text, function(result) {
		if (!result.error && result.language) {
			google.language.translate(text, result.language, "es",
			function(result) {
				var translated = document.getElementById("translation");
				if (result.translation) {
					translated.innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+result.translation;
				}
			});
		}
	});
}
google.setOnLoadCallback(initialize);

sfHover = function() {
	var sfEls = document.getElementById("nav").getElementsByTagName("LI");
	for (var i=0; i<sfEls.length; i++) {
		sfEls[i].onmouseover=function() {
			this.className+=" sfhover";
		}
		sfEls[i].onmouseout=function() {
			this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
		}
	}
}
if (window.attachEvent) window.attachEvent("onload", sfHover);

function clearDefault(el) {
if (el.defaultValue==el.value) el.value = ""
}
</script>
</head>

<body class="provita" onload="$('#translation').hide();">
<div id="container">
  <div id="header">
  <p id="loginHelpers"><a href="#">Apply now</a><br />
    <a href="#">Forgot your password?</a></p>
        <form class="login" id="login" method="get" action="#"> 
        <input class="loginTextField" name="userID" type="text" size="15" maxlength=255 value="Email" onfocus="clearDefault(this)" /> &nbsp;
        <input class="loginTextField" name="pwd" type="password" size="15" maxlength=255 value="Password" onfocus="clearDefault(this)" /> 
		<input class="loginBtn" type="submit" name="login" value="Login" />
    </form> 
  <!-- end #header --></div>
  <div id="navAndSearch">
<ul id="nav">
	<li class="homeBtn"><a href="/">HOME</a></li>
	<% @categories.each do |category| %>
	<li><%= link_to category.title, category%>
		<ul>
			<% category.articles.each do |article| %>
				<li><%= link_to article.title, article%></li>
			<% end %>
		</ul>
	</li>
	<% end %>
</ul>
<!-- end #nav -->
        <form class="search" id="search" method="get" action="http://www.google.com/search"> 
        <input class="searchText" name="q" type="text" size="15" maxlength=255 value="" /> 
		<input class="searchbtn" type="submit" name="btnG" value="search" />
    </form> 
  <!-- end #navAndSearch --></div>
  <div id="mainContent">
  <div id="mission">
    <h1 style="font-size:32px"><%= @article.title %></h1>
		<p>&nbsp;&nbsp;&nbsp;<i style="font-size:14px;color:yellow"><%= @article.created_at.strftime('%a %d %b, %Y')%></i></p>
		<p id="text" style="font-size:18px;color:#DCDCDC">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%=@article.body%></p>
		<br/>
		<i><p id="translation" style="font-size:18px;color:black"></p></i>
		<i><p align="right" style="font-size:16px"><%=@article.author%></p></i>
		<br/><br/>
		<p><a style="color:green" href="javascript:void(0);" onclick="$('#translation').show('slow');">Translation</a></p>
  <!-- end #mission --></div>
    <div id="updates">
    <h1>Updates</h1>
		<% Update.find(:all, :order => 'created_at DESC').each do |update| %>
    	<h2><%= update.title%></h2>
	    <img class="updatesPic" src="<%=update.image%>" width="69" height="52" alt="pic" />
	    <p class="smallText"><%= update.description%></p>
		<br/><br/>
		<% end %>
    <!-- end #updates --></div>
    <div class="clearAll"></div>
  <!-- end #mainContent --></div>
  <div id="footer">
<div id="copyrightInfo">&copy; 2010 Provita | Contact |</div>
<p id="addressInfo">200 Hackensack Avenue<br />
Hackensack, NJ 07601<br />201.343.6000</p>
  <!-- end #footer --></div>
<!-- end #container --></div>
</body>
</html>