<p>
  <b>Title:</b>
  <%=h @update.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @update.description %>
</p>

<p>
  <b>Image:</b>
  <%=h @update.image %>
</p>


<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>